.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8a9fc9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-div{
  
  width: 200px;
  background-color: #b8e7f3;
}
.header ul {
  display: flex;
  justify-content: center;
}
.header ul li{
  list-style-type: none;
  text-decoration: none;
  padding: 10px;

}
.header ul li:hover {
  padding-bottom: 3px;
  transform: translateY(-3px);
  transition: all 0.5s ease-out;
}

.messages {
  margin-top: 20px;
  background-color: #dfeaec;
  width: 95%;
  height: 75vh;
  overflow-y:scroll;
}
.message{
  width: 90%;
  margin: 5px auto 5px auto;
  display: flex;
}
.message_bot{
  justify-content: flex-end;
  right: 0;
}
.message_text{
  text-align: left;
  background-color: #beedf5;
  border: 2px solid #beedf5;
  border-radius: 12px;
  margin: 5px;
  max-width: 96%;
  color: rgb(80, 78, 78);
}
.message_text_bot{
  background-color: #c69ff3;
  border: 2px solid #c69ff3;
}

.input_button{
  background-color: #b3dae4;
}
.input_button:hover{
  background-color: #cfe8ee;
  cursor: pointer;
}
.chat:hover{
  background-color: #afc9cf;
  cursor: pointer;
  transition: all 0.7s ease-out;
}

.chat .active{
  background-color: #88e995;
 
}
.chat_bloc{
  display: flex;
  width: 230px;
}
.contMess{
 
}